<h2>商店 🏪</h2>
<div class="money">💰 金錢: {{ gameDataService.money }}</div>

<nz-tabs>
  <!-- 買入頁籤 -->
  <nz-tab nzTitle="購買">
    <nz-tabs [nzTabPosition]="'left'">
      @for(key of buyTypes.keys(); track $index) {
        <nz-tab nzTitle="{{ buyTypes.get(key) }}">
          <div class="shop-grid">
            @for (item of getcanBuyItems(key); track $index) {
              <div class="shop-item" (click)="openItemModal(item, 'buy')">
                <div class="icon">{{ item.icon }}</div>
                <div class="name">{{ item.name }}</div>
                <div class="price">💰{{ item.sellPrice }}</div>
              </div>
            }
          </div>
        </nz-tab>
      }
    </nz-tabs>
  </nz-tab>

  <!-- 賣出頁籤 -->
  <nz-tab nzTitle="販賣">
    <div class="inventory-grid">
      @for (item of inventory.getInventory().items; track $index) {
        <div class="inv-item" (click)="openItemModal(item, 'sell')">
          <div class="icon">{{ item.icon }}</div>
          <div class="name">{{ item.name }}</div>
          <div class="qty">x{{ item.quantity }}</div>
        </div>
      }
    </div>
  </nz-tab>
</nz-tabs>

<!-- 物品操作彈窗 -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ modalTitle }}"
  (nzOnCancel)="isVisible = false"
  (nzOnOk)="confirmAction()"
>
<ng-container *nzModalContent>
  <div class="item-modal">
    <div class="icon">{{ selectedItem?.icon }}</div>
    <div class="desc">
      <p><strong>{{ selectedItem?.name }}</strong></p>
      <p>類型: {{ selectedItem?.type }}</p>
      @if (actionType === 'buy') {
        <p>價格: 💰{{ selectedPrice }}</p>
      }
      @else {
        <p>售價: 💰{{ selectedSellPrice }}</p>
      }
    </div>

    <div class="quantity">
      <label>數量：</label>
      <nz-input-number [(ngModel)]="quantity" nzMin="1" nzMax = "{{maxQuantity}}" />
    </div>
  </div>
  </ng-container>
</nz-modal>
