.animal-list { 
    display: flex; 
    gap: 8px; 
    flex-wrap: wrap; 
}
.animal { 
    text-align: center; 
    width: 80px; 
}
.icon { 
    font-size: 32px;
}

.upgrade-btn {
  margin-top: 6px;
  padding: 6px 10px;
  background-color: #a2d5c6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}