<div class="game-container">
  <h3>選擇作物</h3>
  <select title="選擇種植作物" [(ngModel)]="selectedCrop">
    @for (crop of crops; track $index) {
      <option [ngValue]="crop">
      {{ crop.seedItem.icon }} {{ crop.seedItem.name }} - ${{ crop.seedItem.price }}
      </option>
    }
  </select>
  <button class="upgrade-btn" (click)="upgrade()">
        升級農田 💰{{ farmService.upgradeCost }}
  </button>
  <hr>
  <div class="farm-grid" [style.gridTemplateColumns]="getGridColumns()">
    @for (filed of farmService.fields; track $index) {
      <div class="filed" (click)="onTileClick($index)">
        {{getEmoji(filed.status, filed.crop)}}
      </div>
    }
  </div>
</div>

